body{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

h1, h3, h4, h5, h6{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

h2{
	text-align: center;
	font-size: 30px;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

header{
	background: rgb(77,191,254);
	background: linear-gradient(140deg, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%); 
	padding-top: 60px;
}

.logo{
	width: 100px;
	height: 40px;
}

.title{
	margin-top: 130px;
	font-size: 37px;
	width: 560px;
	line-height: 1.55em;	
}

.dream{
	font-size: 59px;
	line-height: 1.5em;	
}

.all{
	display: flex;
	justify-content: space-between;
}

.intro{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;
	font-size: 16px;
	width: 395px;
	line-height: 1.6em;	
}

.btn{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif; 
	background: #ffd429;
	display: block;
	width: 215px;
	height: 55px;
	text-align: center;
	text-decoration: none;
	color: #2e2a1b;
	margin-bottom: 180px;
}

.image{
	width: 640px;
	height: 640px;
	margin-left: 30px;
	
}

p{
	line-height: 1.3em;	
}

.wait{
	padding-top: 105px;
	padding-bottom: 120px;
	color: #000;

}

.wrap{
	display: flex;
	justify-content: space-between;	
}

.blok{
	width: 290px; 
}

.blk{
	width: 270px;
}

.bl{
	width: 300px;
}

.picture{
	margin-top: 70px;
	padding-left: 108px;
}

.hd{
	padding-left: 60px;
	font-size: 19px;

}

.text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	margin-top: 0; 
}

.span{
	padding-left: 70px;
}

.pict{
	margin-top:60px;
	padding-left: 110px;
}

.hdd{
	padding-left: 44px;
}

.tx{
	padding-left: 10px;
}

.pic{
	margin-top:57px;
	padding-left: 129px;
}

.hed{
	padding-left: 55px;
}

.spn{
	padding-left: 61px;
}

.fb{
	background-color: #ecf3f8;
	padding-top: 100px;	
	color: #000;
	padding-bottom: 120px;
}

.form{
	margin-top: 55px;
	margin-left: 415px;
}

.input{
	width: 340px;
	height: 48px;
	margin-bottom: 15px;
}

.bt{
	width: 340px;
	height: 55px;
	margin-bottom: 0;
}

.footer{
	background: #164d7a;
	padding: 60px 0;
	text-align: center;
}

.ftext{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
}
