html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit
} 

a{
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
  font-style: normal;
  color:#242121;
;

}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353E;
  text-align: center;
}

.container{
  max-width: 1220px;
  padding: 0;
  margin: 0 auto;
}

.header{
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
}

.header__top-inner{
  display: flex;
  align-items: flex-end;
  margin-bottom: 256px;
}

.logo{
  margin-top: 35px;
}

.menu{
  margin-left: 185px;
}

.menu__btn{
  display: none;
}

.menu__list{
  display: flex;
}

.menu__list-item + .menu__list-item{
  padding-left: 45px;
}

.menu__list-link{
  padding: 0 1px 9px;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.menu__list-link:hover{
  border-bottom: 1px solid #00B2A0;
  transition: all .2s;

}

.header__title{
  font-size: 200px;
  font-weight: 700;
  font-style: normal;
  line-height: 234px;
  letter-spacing: 0.6px;
  text-align: center;
}

.header__subtitle{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #000;
  text-align: center;
  margin-bottom: 315px;
}

.icon{
  margin: 0 auto 92px;
  animation: nudge 5s linear infinite alternate;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0, 30px);
  }
  
  80% {
    transform: translate(0, -50px);
  }
}

.icon:hover{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.about{
  background-color: #fff;
  padding: 189px 0 170px;
}

.titleone{
margin: 189px 0 96px;
}

.title::after{
  content: "/";
  position: absolute;
  width: 48px;
  height: 85px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.6px;
  color: #00B2A0;
  align-items: flex-end;
}

.about__text{
  display: flex;
  flex-wrap: wrap;
}

.txt{
  max-width: 480px;
  margin-bottom: 30px;
}

.tex{
  margin-left: 120px;
}

.school{
  background-color: #F8F8F8;
}

.titletwo{
  padding: 200px 0 100px;
}

.school__items{
 display: flex;
 justify-content: space-between;
 padding-bottom: 102px;
}

.sitem{
  width: 320px;
  position: relative;
}

.sitem::before{
  top: 0;
  left: 0;
  position: absolute;
  width: 55px;
  height: 50px;
}

.stitle{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #242121;
  letter-spacing: 0.6px;
}

.living{
  width: 350px;
  padding: 12px 0 34px 80px;
}

.living-item::before{
  content: url(../images/sun1.svg);
  padding-left: 76px;
}

.stext{
  width: 350px;
  text-align: left;
  letter-spacing: 0.6px;
}

.flying{
  width: 280px;
  padding-bottom: 20px;
  padding-left: 144px;
}

.flying-item{
  margin: 0 76px 0 76px;
}

.flying-item::before{
  content: url(../images/plane2.svg);
  padding-left: 90px;
}

.surfing{
  width: 300px;
  padding-bottom: 20px;
  padding-left: 112px;
}

.surfing-item::before{
  content: url(../images/surf3.svg);
  padding-left: 70px;
  align-items: center center;
}

.container__inner{
  display: flex;
  padding-bottom: 200px;
}

.wawes{
  flex-wrap: wrap;
  max-width: 600px;
  margin-top: 9px;
}

.wawe{
  margin-bottom: 10px;
}

.waweone{
  width: 200px;
  height: 15px;
}

.number{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  color: #242121;
  letter-spacing: 0.6px;
}

.waweitem{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  position: relative;
  padding-bottom: 10px;
}

.waweitem span{
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
  color: #242121;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.waweitemone{
  width: 244px;
}

.waweitemtwo{
  width: 268px;
}

.waweitemthree{
  width: 306px;
}


.wawetwo{
  width: 246px;
  height: 15px;
}

.wawethree{
  width: 294px;
  height: 15px;
}

.wawes__text{
  max-width: 600px;
  margin-left: auto;
}

.wtext{
  height: 73px;
  width: 600px;
}

.top{
  background-image: url('../images/pictop.png');
  background-repeat: no-repeat;
  background-size: 50% 82%;
  background-position: top right;
  position: relative;
}

.top__inner{
  max-width: 512px;
  margin-right: auto;
  padding: 200px 0 316px;
}

.top__title{
  margin-bottom: 100px;
}

.top__text p{
  margin-bottom: 30px;
}

.gallery{
  padding: 1px 0 198px;
}

.gallery_filter-btn{
  display: flex;
}

.gallery__btn{
  background-color: transparent;
  margin-right: 20px;
  border: transparent;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  text-transform: uppercase;
  outline: none;
}

.gallery__btn:hover{
  color:#00B2A0;
  transition: all .1s;
}

.gallery__top h2{
  margin-bottom: 212px;
}

.gallery_filter-btn{
  margin-bottom: 50px;
}

.gallery__content{
  column-count: 2;
  max-width: 1200px;
  margin: 0 auto 50px;
}

.gall__items{
  column-count: 2;
  display: flex;
  width: 580px;
  height: 280px;
}

.gallery__item{
  position: relative;
}

.gallery__item-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(51, 51, 51, 0.7);
  opacity: 0;
  transition: all 0.3s;
}

.gallery__item:hover .gallery__item-link{
  opacity: 1;
}

.gallery__item img{
  height: 100%;
}

.pone{
  margin-bottom: 40px;
  margin-right: 13px;
}

.gitem{
  margin-right: 40px;
}

.ptwo{
  margin-right: 40px;
}

.gitems{
  margin-bottom: 40px;
  margin-left: 13px;
}

.pthree{
  margin-left: 40px;
}

.pfour{
  margin-left: 13px;
}

.gallery__content div{
  display: inline-flex;
}

.gallery_add{
  display: flex;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  text-transform: uppercase;
  margin: 0 auto 266px;
  max-width: 350px;
}

.more{
  border: 1px solid #c4c4c4;
  padding: 24px 90px;
}

.bq{
  background-color: #F8F8F8;
  padding: 80px 0 62px;
  margin-bottom: 266px;
}

.blockquote{
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;
  color: #242121;
  max-width: 722px;
  margin: 0 auto 0;
}

.blockquote__author{
  display: flex;
  margin-left: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  max-width: 274px;
}

.gallery__video{
  background-image: url('../images/video-bg.png');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.gallery__numbers{
  display: flex;
  justify-content: space-around;
  margin-bottom: 198px;
}

.gallery__numbers-item{
  margin-bottom: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353E;
  font-family: 'Roboto Condensed', sans-serif;
}

.gallery__numbers-item span{
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
}

.btitle{
  padding-bottom: 230px;
}

.slider{
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 200px;
}

.slider-blog__item{
  color: #FFF;
  margin: 314px 0 260px;
  text-align: right;
}

.slider-blog__item-title{
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #FFF;
  text-align: start;
  display: inline-block;

}

.slider-blog__item-descr{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  padding-right: 192px;
}

.slick-dots{
  display: flex;
  border: none;
  justify-content: center;
}

.slick-dots li + li{
  margin-left: 15px;
}

 .slick-dots .slick-active button{
  background-color: #00B2A0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
}

.slick-dots button{
  background-color: #FFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
  margin: 0 auto 78px;

}

.slick-prev,
.slick-next{
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: default;
  font-size: 0;
}

.team__items{
  display: flex;
  justify-content: space-between;
}

.ttitle{
  padding-bottom: 212px;
}

.team__item{
  text-align: center;
}

.inst{
  padding-bottom: 25px;
}

.team__name{
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
align-items: flex-end;
letter-spacing: 0.6px;
color: #242121;
padding-bottom: 2px;
}

.team__position{
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.6px;
color: #242121;
padding-bottom: 204px;
}

.options{
  padding: 200px 0;
  background-color: #F8F8F8;;
}

.otitle{
  margin-bottom: 184px;
}

.option__items{
  display: flex;
  justify-content: space-between;
}

.option__item{
  background-color: #fff;
  display: inline-block;
  text-align: center;
}

.option__title{
  padding: 46px 0 58px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
}

.otext{
  text-align: left;
  max-width: 360px;
  padding: 0 32px 60px;
}

.op__text{
  padding-bottom: 136px;
}

.option__text{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #242121;
  display: flex;
}

.option__text + .option__text{
  padding-top: 20px;
}

.price{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
  padding-bottom: 45px;
}

.price::after{
  content: "$";
  position: absolute;
  padding-top: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #01353E;
}

.map{
  background-image: url(../images/map.jpg);
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.marker{
  padding: 98px 0 470px;
}

.ititle{
  margin-bottom: 242px;
}

.input__items{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.input__item{
  padding-right: 30px;
}

.name,
.phone,
.text{
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #DADADA;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #00B2A0;
  width: 600px;
  text-transform: uppercase;
}

form input::placeholder,
form textarea::placeholder{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #00B2A0;
  max-width: 284px;
}

.text{
  min-height: 156px;
  resize: none;
}

.name{
  padding-bottom: 18px;
  margin-bottom: 32px;
}

.phone{
  padding-bottom: 18px;
  margin-bottom: 52px;
}

.text{
  padding-bottom: 100px;
  margin-bottom: 72px;
}

.button{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #242121;
  text-transform: uppercase;
  padding: 24px 110px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  cursor: pointer;
}

.contacts{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  color: #242121;
  background-color: #F8F8F8;
  padding: 50px 0 0 52px;
  width: 640px;
}

.tel{
  color: #242121;
}

.ctitlte{
  padding-bottom: 66px;
  max-width: 318px;
}

.messengers{
  padding-bottom: 66px;
  max-width: 274px;
}

.location{
  padding-bottom: 70px;
  max-width: 326px;
}

.socials{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  text-transform: uppercase;
}

.socials a{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.facebook{
  margin: 0 10px;
}

.socials a:hover{
  color: #00B2A0;
}

.footer{
  background-color: #00B2A0;
  padding: 68px 0;
  display: flex;
  align-content: center;
}

@media (max-width: 1200px){

  .logo{
    position: relative;
    z-index: 2;
    padding-top: 20px;
  }

  .menu{
    margin-left: auto;
    margin-right: 20px;
  }

  .menu__list-link{
    font-size: 17px;
  }
  
  .header__title{
    font-size: 160px;
  }

  .about__inner{
    display: block;
  }

  .title{
    max-width: 600px;
    margin: 50px auto 50px;
  }

  .about__text{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .txt{
    margin-right: 10px;
    margin-left: 10px;
    max-width: 400px;
  }

  .tex{
    margin-left: 20px;
  }

  .sitem{
    width: 320px;
  }

  .flying-item{
    margin: 0 46px 0;
  }

  .stext{
    width: 280px;
  }

  .top__inner {
    max-width: 410px;
    padding: 10px 0 120px;
  }

  .gallery_filter-btn{
    justify-content: center;
  }

  .gallery__content {
    column-count: 1;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto 50px;
  }

  .pone{
    margin-left: 30px;
  }

  .gitem{
    margin: 0 0 40px 20px;
  }

  .gallery{
    padding-bottom: 60px;
  }

  .teampic{
    margin: 0 30px;
  }

  .option__items{
    margin: 0 30px;
  }

  .all{
    margin: 0 20px;
  }

}

@media (max-width: 992px){
  .about{
    padding: 0;
  }

  .titletwo{
    padding: 80px 0 50px 0;
    margin: 0 auto 0;
    
  }

  .stitle{
    width: 200px;
    padding: 60px 0 30px 40px;
  }

  .living{
    padding-bottom: 58px;
  }

  .stext{
    width: 180px;
  }

  .stext{
    margin-left: 40px;
  }

  .school__inner{
    text-align: center;
  }

  .container__inner{
    display: inline-block;
    padding-bottom: 80px;
  }

  .wawes{
    padding-bottom: 50px;

  }

  .waweitem{
    width: 100%;
  }

  .num{
    margin-right: 20%;
  }

  .wawe{
    width:100%;
  }
  
  .top__inner {
    max-width: 310px;
    padding: 0 0 50px;
  }
  
  .top{
    background-image: none;
  }

  .top__inner{
    margin-left: auto;
    text-align: center;
  }

  .gallery__top h2{
    margin-bottom: 90px;
  }

  .sm{
    display: flex;
    justify-content: center;
  }

  .gallery_add{
    margin-bottom: 80px;
    font-size: 15px;
  }

  .bq{
    margin-bottom: 100px;
  }

  .gallery__video{
    margin-bottom: 80px;
  }

  .gallery__numbers{
    margin-bottom: 10px;
  }

  .btitle{
    padding: 50px 0;
  }

  .slider{
    background-position: 60%;
    margin-bottom: 80px;
  }

  .ttitle{
    padding-bottom: 80px;
  }

  .team__position{
    padding-bottom: 80px;
  }

  .options{
    padding: 50px 0;
  }

  .option__items{
    margin: 20px;
  }

  .option__item{
    height: 775px;
  }

  .map{
    margin: 50px 0
  }

  .input__items{
    margin-bottom: 100px;
  }

  .input__item{
    width: 100%;
  }

  .contacts{
    width: 600px;
  }

  .name,
  .phone,
  .text,
  .button{
    width: 100%;
    margin-left: 15px;
  }

  .button{
    text-align: center;
    padding: 24px 78px;
  }

  .socials{
    margin-bottom: 100px;
  }

  .footer{
    padding: 40px 0;
  }
}

@media (max-width: 768px){

  .menu__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    background-color: #01353E;
    display: block;
    text-align: center;
    transform: translateY(-150%);
    transition: all .5s;
  }

  .menu__list.menu__list--active{
    transform: translateY(0%);
  }

  ul.menu__list{
    padding: 90px 0 15px;
  }

  .menu__list-link{
    display: block;
    padding: 15px 0;
  }

  .menu__list-item + .menu__list-item{
    padding-left: 0;
  }

  .header__title{
    font-size: 90px;
  }

  .header__subtitle{
    font-size: 18px;
  }

  .logo{
    position: relative;
    z-index: 2;
    padding-top: 30px;
  }

  .menu{
    margin-left: auto;
  }

  .menu__btn{
    display: block;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 2;

  }

  .title{
    font-size: 36px;
    max-width: 219px;
  }

  .school__items{
    justify-content: space-evenly;
    margin-left: -50px;
  }

  .stitle {
    padding: 60px 0 30px;
  }

  .living{
    padding-bottom: 58px;
  }
  
  .flying-item {
    margin: 0 16px 0;
  }

  .stext {
    margin-left: 0;
  }

  .sitem {
    width: 100px;
  }

  .bq{
    margin-bottom: 90px;
    padding: 60px 20px 60px;
  }

}

@media (max-width: 640px){

  .container{
    max-width: 640px;
  }

  .living{
    padding-bottom: 58px;
  }

  .school__items{
    flex-direction: column;
  }

  .sitem{
    max-width: 320px;
    margin: 0 auto 50px;
  }

  .sitem::before {
    padding-left: 76px;
  }

  .stitle{
    padding-left: 0;
  }

  .stext{
    text-align: center;
  }

  .container__inner {
    padding-bottom: 160px;
  }

  .wawe {
    width: auto;
    max-width: 270px;   
  }

  .num{
    margin-right: 12%;
  }

  .wtext{
    max-width: 320px;
    margin-bottom: 40px;
  }

  .gallery__btn{
    font-size: 15px;
  }

  .gallery__content {
    column-count: 1;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto 50px;
  }

  
  .gallery__content div {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .gall__items{
    column-count: 1;
    display: inline-block;
    margin: 0;

  }

  .gallery__item{
    margin: 0 20px 20px;
    width: 380px;
  }

  .gallery__item img{
    height: auto;
  }

  .galler{
    margin-bottom: 0;
  }

  .blockquote__author{
    margin-top: 10px;
  }

  .gallery__video{
    height: 400px;
    margin-bottom: 80px;
  }

  .gallery__numbers{
    margin-bottom: 80px;
    justify-content: space-around;
  }

  .gallery__numbers-item{
    font-size: 32px;
  }

  h5 span{
    font-size: 11px;
    max-width: 60px;
  }

  .btitle{
    padding-bottom: 80px;
  }

  .slider{
    background-position: 38%;
    margin-bottom: 80px;
    height: 800px;
  }

  .slick-list{
    margin-left: 10px;
  }

  .slider-blog__item{
    margin-top: 60px;
    text-align: left;
  }

  .slider-blog__item-descr{
    text-align: left;
  }

  .ttitle{
    padding-bottom: 50px;
  }

  .team__items{
    flex-direction: column;
  }

  .team__item{
    margin: 0 auto;
  }

  .team__position{
    padding-bottom: 80px;
  }

  .options{
    padding: 80px 0;
  }

  .option__items{
    flex-direction: column;
  }

  .option__items a{
    max-width: 336px;
    margin: 30px auto;
  }

  .option__item{
    height: auto;
  }

  .map{
    margin: 80px auto;
  }

  .input__items{
    flex-direction: column;
    margin: 0 auto;;
  }

  .button{
    margin-bottom: 72px;
  }

  .contacts{
    padding: 40px 10px;
    width: 100%;
    margin-bottom: 80px;
  }

  .socials{
    margin: 0 0 80px 10px;
  }

  .socials a{
    font-size: 18px;
  }
}
